@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&display=swap');


* {
    margin: 0;
    padding: 0;
    outline: none;
    font-family: 'EB Garamond', serif;

}


body {
    display: grid;
    grid-template-rows: 6rem 1fr;
    height: 100vh;
    background-color: #282F39;

}

.header {
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 6rem;
    background-color: rgb(131, 37, 37);

    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: 1 / 1 / 2 / 3;
}

/* .sidebar {

    top: 0;
    height: 100%;
    width: 20vw;
    border-right: 2px solid black;
    grid-area: 2 / 1 / 3 / 2;
    background-color: #282F39;

    display: grid;
    grid-template-rows: 6rem 1fr;

} */

.red-bg {
    background-color: rgb(131, 37, 37);
}

.main {
    background-color: #282F39;
    grid-area: 1 / 1 / 2 / 2;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(9.8rem, 9.8rem));
    grid-template-rows: max-content;

    padding: 10rem 2rem 2rem 6rem;
    gap: 4rem;

}

.book {
    height: 13rem;
    background-image: url('/book-card-ribbons-no-fav-btn.svg');
    background-repeat: no-repeat;
    background-size: contain;
    color: darkorange;

    display: grid;
    grid-template-rows: 1fr 2.4rem;
    grid-template-columns: 1.5rem 1fr;
}


.book-cover {
    grid-area: 1 / 2 / 2 / 3;


    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr auto 1fr auto 1fr auto;
    text-align: center;
}

.title {
    grid-row: 2 / 3;
    grid-column: 1 / 6;
    word-wrap: break-word;
    font-weight: 800;

}

.author {
    grid-row: 4 / 5;
    grid-column: 1 / 6;
    word-wrap: break-word;

}

.pages {
    grid-row: 6 / 7;
    grid-column: 4 / 6;

    padding-bottom: .3rem;
    padding-left: .9rem;

}

input {
    height: 2.5rem;
}

form {
    display: flex;
    gap: 5rem;
}

.icon-container {
    grid-area: 2 / 2 / 3 / 3;
    margin-right: 1.4rem;
    margin-left: -.2rem;

    display: flex;
    justify-content: space-around;
    padding-top: .15rem;
}

.ribbon-btns {
    width: 1.8rem;
    height: 100%;
    z-index: 1;
}

#read-btn {
    opacity: 0;
    width: 1.3rem;
    height: 1.3rem;
    position: relative;
    top: .23rem;

}

#read-btn:checked:hover {
    accent-color: #0aa153 !important;

}

#read-btn:checked:active {
    opacity: 0;
}


#read-btn:checked {
    opacity: 1;
    accent-color: #066D38;
}
